{% extends "weblayoutactive.html" %}
{% block title %} Forum - Find Study Groups {% endblock %}
{% block text %} Find Study Groups {% endblock %}
{% block content %}
    <div class = "container py-4">
        <a href = "{{ url_for('fstudygroups_add') }}" class = "btn btn-dark">Add New Post</a>
        <h4 class = "py-3">Find Study Groups - Posts</h4>
        <table class = "table" border = "1">
            <thead class = "table-dark">
                <tr>
                    <td><b>Title</b></td>
                    <td><b>Nickname</b></td>
                    <td><b>Date Uploaded</b></td>
                  </tr>
            </thead>
            
            {% for dt in data %}
            <tbody>
                <tr>
                    <td><a href = "{{ url_for('fstudygroups_read', id = dt._id)}}"> {{ dt.title | e}} </a></td>
                    <td>{{ dt.nickname | e}}</td>
                    <td>{{ dt.date | e}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}