{% extends "weblayoutactive.html" %}
{% block title %} Others - : {{ data.title | e}} {% endblock %}
{% block text %} Read Post {% endblock %}
{% block content %}
    <br>
    <div class = "container">
        <div class = "card py-2">
            <div class = "card-body">
              <h5 class = "card-title">Title - {{ data.title | e}}</h5>
              <h6 class = "card-subtitle mb-2 text-muted">{{ data.nickname | e}}</h6>
              <p class = "card-text">{{ data.description | e}}</p>
              <p class = "text-right card-text">{{ data.date | e}}</p>
              <a href="{{ url_for('others_all')}}" class = "btn btn-dark"> Back to Forum - General </a>
            </div>
        </div>
        <br>
        <h4 class = "text-center py-3">Add Comment</h4>
        <form method = "POST" action = "{{ url_for('comment_add_oth', id = data._id) }}">
            <div class = "form-outline mb-4">
                <input type = "text" name = "nickname" class = form-control>
                <label class = "form-label">Nickname</label>
            </div>
            <div class = "form-outline mb-4">
                <textarea class = "form-control" name = "description" cols = "40" rows = "5"></textarea>
                <label class = "form-label" for = "form4Example3">Description</label>
            </div>
            <button type = "submit" class = "btn btn-dark btn-block mb-4" name = "submit">Submit</button>
            <br>
        </form>
        <h4 class = "text-center py-3">Comments</h4>
        {% for c in comments %}
        <div class = "card py-2">
            <div class = "card-body">
                <h6 class = "card-subtitle mb-2 text-muted">{{ c.nickname | e}}</h6>
                <p class = "card-text">{{ c.description | e}}</p>
                <span class = "text-right card-text">{{ c.date | e}}</span>

            </div>
        </div>
        <br>
        {% endfor %}
    </div>
    <br>
{% endblock %}